# public/.htaccess
RewriteEngine on

# Se o arquivo ou diretorio existe, serve direto
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# caso contrario, redireciona para index.php
RewriteRule ^ public/index.php [QSA,L]